.title-class {
    background-color: whitesmoke;
}

.fa-bookmark {
    color: white;
    padding-left: 60px;
}

.fa-book {
    color: white;
}

.bookmark {
    font-size: 15px;
    color: white;
}

.bottom-padding {
    padding-bottom: 50px;
}

.title-color {
    color: white
}

.detail-fields {
    font-weight: bolder;
}