.title-class {
    background-color: whitesmoke;
}

.fa-bookmark {
    color: white;
    padding-left: 60px;
}

.fa-book {
    color: white;
}

.bookmark {
    font-size: 20px;
    color: white;
}

.bottom-padding {
    padding-bottom: 50px;
}

.title-color {
    color: white
}

.detail-fields {
    font-weight: bolder;
}

.library-padding {
    padding-top: 7px;
}

.left-padding {
    padding-left: 70px;
}

.left-reader-padding {
    padding-left: 320px;
}

.left-author-padding {
    padding-left: 540px;
}
