body{
    background-image: url('https://www-kiva-org.global.ssl.fastly.net/cms/sites/default/files/kivablog/impact_travel_by_kukzaa.jpg');
    background-size: cover;

    height: 100vh;
    padding:0;
    margin:0;
}

h1 {
    color: white
}